.navBarContent {
    width: 100%;
    height: 100%;
    padding: 5px 20px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    justify-content: space-between;
    background-color: #cfcfcf;
    border-radius: 40px;
    transition: background-color 0.3s ease-in-out;
}

.navBarContent_isDarkMode {
    background-color: #181614;
}

.logoImg {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    cursor: pointer;
    /* background-color: white; */
}

.logoImg svg {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.buttons {
    /* background-color: green; */
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 30px;
    width: 200px;
}

.joinGroup {
    /* background-color: red; */
    position: absolute;
    left: 0;
    transform: translateX(-100%);
}

@media (max-width: 600px) {
    .navBarContent {
        padding: 5px 8px;
    }

    .name {
        font-size: 18px;
    }

    .buttons {
        width: 140px;
        gap: 20px;
    }

    .joinGroup {
        transform: translateX(-110%);
    }

    .logoImg, .buttons {
        transform: scale(0.8);
    }
}

@media (max-width: 480px) {
    .logoImg, .buttons {
        transform: scale(0.7);
    }
}

@media (max-width: 320px) {
    .logoImg {
        transform: scale(0.5);
    }
    .buttons {
        transform: scale(0.6);
    }
}