.info {
    display: flex;
    box-sizing: border-box;
}

.info b {
    font-size: 14px;
}

.infoLeft, .infoRight {
    box-sizing: border-box;
    padding: 5px;
}

.infoLeft {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.branches span {
    font-style: italic;
    font-weight: bold;
    font-size: 14px;
}

.assigness, .reviewers {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.list {
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
}

.list div {
    display: flex;
    gap: 3px;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
    background-color: rgba(128, 128, 128, 0.425);
    padding: 3px 10px;
    border-radius: 10px;
}

.list div:hover {
    text-decoration: underline;
}

.profilePic {
    height: 16px;
    width: 16px;
    border-radius: 50%;
    vertical-align: middle;
}

.createTime span, .mergeTime span {
    font-size: 12px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.body div {
    font-size: 14px;
}