.dropdown {
  position: relative;
  width: 200px;
}

.selected {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  cursor: pointer;
}

.dropdown_lightMode .selected {
  border: 1px solid black;
}

.menu {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background: transparent;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-top: 4px;
  list-style: none;
  padding: 5px;
}

.dropdown_lightMode .menu {
  border: 1px solid black;
}

.item {
  padding: 10px;
  cursor: pointer;
  border-radius: 20px;
}

.item:hover {
  background: green;
}
