.dropdown {
  position: relative;
  width: 200px;
  max-width: 200px;
}

.selected {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  cursor: pointer;
}

.dropdown_lightMode .selected {
  border: 1px solid black;
}

.menu {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background: transparent;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-top: 4px;
  list-style: none;
  padding: 5px;
}

.dropdown_lightMode .menu {
  border: 1px solid black;
}

.item {
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.item:hover {
  background: rgba(0, 128, 0, 0.5);
}

@media (max-width: 500px) {
  .dropdown {
    max-width: 160px;
  }
  .selected {
    padding: 5px 10px;
  }
  .menu {
    padding: 3px;
  }
  .item {
    padding: 5px;
  }

  .selected, .menu, .item {
    font-size: 12px;
  }
}

@media (max-width: 380px) {
  .dropdown {
    width: 125px;
  }
}