@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.groupList {
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  animation: appear 0.5s ease-in-out 1 forwards;
}

.modal {
  position: relative;
  background-color: whitesmoke;
  padding: 20px 10px;
  border-radius: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  height: 200px;
  width: 300px;
  color: black;
  cursor: default;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.groupItem {
  box-sizing: border-box;
  background-image: linear-gradient(
    to right top,
    #1269eb,
    #798af0,
    #aeaff5,
    #d9d6fa,
    #ffffff
  );
  color: black;
  font-weight: bold;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  border-radius: 8px;
  padding: 5px 10px;
  width: 100%;
  font-size: 15px;
  font-weight: 500;
}

.preview {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.groupListContainer {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow-y: scroll;
}

.expand,
.collapse {
  height: 20px;
  width: 26px;
  padding: 5px;
  box-sizing: border-box;
  cursor: pointer;
  transform: rotate(180deg);
  transition: transform 0.3s ease;
}

.collapse {
  height: 20px;
  width: 26px;
  padding: 5px;
  box-sizing: border-box;
  cursor: pointer;
  transform: rotate(0deg);
}

.detail {
  font-size: 12px;
  font-family: cursive;
  display: flex;
  justify-content: space-between;
}

.getInBtn {
  align-items: center;
  appearance: none;
  background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
  border: 0;
  border-radius: 3px;
  letter-spacing: 0.1px;
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 20px;
  justify-content: center;
  list-style: none;
  overflow: hidden;
  padding-left: 4px;
  padding-right: 4px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 10px;
}

.getInBtn:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.getInBtn:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}

.getInBtn:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}

/* Width/height of scrollbar */
::-webkit-scrollbar {
  width: 8px; /* vertical */
  height: 12px; /* horizontal */
}

/* Track (background) */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

/* Thumb (the draggable handle) */
::-webkit-scrollbar-thumb {
  background-color: grey;
  border-radius: 10px;
  border: 3px solid #f1f1f1;
}

/* Thumb hover effect */
::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

@media (max-width: 768px) and (orientation: portrait) {
  .modal {
    transform: scale(0.8);
  }
}

@media (max-height: 320px) and (orientation: landscape) {
  .modal {
    transform: scale(0.8);
  }
}
