.navbar {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.logoImg {
  flex: 0 0 5%;
  min-width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  box-sizing: border-box;
}

.logoImg svg {
    height: 100%;
    width: 100%;
    cursor: pointer;
    color: #FFFFFF;
}

.navbutton {
    box-sizing: border-box;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex: 1;
    padding: 10px;
}